body {
    margin: 0;
    padding: 0;
    background: #000;
}

.off-screen {
    display: none;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    width: 256px;
    z-index: 1;
    transition: 0.5s;
    background: #111;
}

#menu.closed {
    left: -256px;
}

.menu-image {
    width: 128px;
    height: auto;
}

.feed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    display: block;
}
